<div class="card-body w-300">
  <% (PostForm::HOUSE_FIELDS - %i[home_id user] - PostsController::ONLY_TRUE_FILTER_OPTIONS).each do |field|%>
    <div class="field">
      <%= form.label field %>
      <%= form.text_field field, class: 'form-control' %>
    </div>
  <% end %>

  <% PostsController::ONLY_TRUE_FILTER_OPTIONS.each do |field|%>
    <div class="field">
      <%= form.label field %>
      <%= form.check_box field %>
    </div>
  <% end %>

  <div class="custom-file">
    <%= form.file_field :photos, multiple: true, class: 'custom-file-input' %>
    <%= form.label :photos, 'Choose Files', class: 'custom-file-label' %>
  </div>
</div>

<div class="actions">
  <%= form.submit class: 'btn btn-primary m-3'%>
</div>