<div class="field">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div class="field">
  <%= form.label :street %>
  <%= form.text_field :street %>
</div>

<div class="field">
  <%= form.label :house_number %>
  <%= form.text_field :house_number %>
</div>

<div class="field">
  <%= form.label :index_number %>
  <%= form.text_field :index_number %>
</div>

<div class="field">
  <%= form.label :floor %>
  <%= form.text_field :floor %>
</div>

<div class="field">
  <%= form.label :rooms_count %>
  <%= form.text_field :rooms_count %>
</div>

<div class="field">
  <%= form.label :space %>
  <%= form.text_field :space %>
</div>

<div class="field">
  <%= form.label :build_year %>
  <%= form.text_field :build_year %>
</div>

<div class="field">
  <%= form.label :furniture %>
  <%= form.check_box :furniture %>
</div>

<div class="field">
  <%= form.label :fridge %>
  <%= form.check_box :fridge %>
</div>

<div class="field">
  <%= form.label :tv %>
  <%= form.check_box :tv %>
</div>

<div class="field">
  <%= form.label :internet %>
  <%= form.check_box :internet %>
</div>

<div class="field">
  <%= form.label :balcony %>
  <%= form.check_box :balcony %>
</div>

<div class="field">
  <%= form.label :conditioner %>
  <%= form.check_box :conditioner %>
</div>

<div class="actions">
  <%= form.submit %>
</div>