<%= form_for(@post_form, url: '/posts', method: :post, validate: true) do |form| %>
  <div class="w-300 pad-1-25">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, class: 'form-control' %>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Select home from list
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse <%= current_user.homes.any? ? 'show' : '' %>" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="field">
            <%= form.radio_button :home_id, false %>
            <%= form.label 'Create new home' %>
          </div>
          <% current_user.homes.uniq.each do |home| %>
            <div class="field">
              <%= form.radio_button :home_id, home.id %>
              <%= form.label home.full_address %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Add new home
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body w-300">
          <% (PostForm::HOUSE_FIELDS - %i[home_id user] - PostsController::ONLY_TRUE_FILTER_OPTIONS).each do |field|%>
            <div class="field">
              <%= form.label field %>
              <%= form.text_field field, class: 'form-control' %>
            </div>
          <% end %>

          <% PostsController::ONLY_TRUE_FILTER_OPTIONS.each do |field|%>
            <div class="field">
              <%= form.label field %>
              <%= form.check_box field %>
            </div>
          <% end %>

          <div class="custom-file">
            <%= form.file_field :photos, multiple: true, class: 'custom-file-input' %>
            <%= form.label :photos, 'Choose Files', class: 'custom-file-label' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary m-3'%>
  </div>
<% end %>
