<div class="main-max-width">
  <div style="padding: 20px 0 10px 20px;" class="border-bottom">
    <h1>Posts</h1>
  </div>
  <div class="main-posts-page">
    <div class="filter-main">
      <%= form_tag('/posts', method: :get, validate: true) do %>
        <div class="form-group row">
          <%= label_tag(:string, nil, class: "col-form-label col-form-label-sm") %>
          <%= text_field(:post, :string, {:class => "form-control form-control-sm", value: @params[:string]} ) %>
        </div>
        <%= render partial: 'home/home_filter', locals: { params: @params } %>
      <% end %>
    </div>

    <div class="main-slider border-left">
      <div class="container">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-12">
              <%= render(partial: 'posts/card', locals: { post: post, home: post.home }) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>