<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Hata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
      <%= fa_icon "home", class: 'fa-2x pr-2' %>
      <%= link_to('HATA.BY', root_path, class: 'my-0 mr-md-auto font-weight-normal') %>

      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/posts">Posts</a>
      </nav>

      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/home">Homes</a>
      </nav>

      <%= link_to('Sell house', new_post_path, class: 'btn btn-outline-success mr-3')%>
      <% if user_signed_in? %>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary rounded-circle profile_icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1" style="">
            <%= link_to('Profile', profile_path, class: 'dropdown-item') %>
            <%= link_to('My posts', my_posts_url, class: 'dropdown-item') %>
            <%= link_to('My homes', my_homes_url, class: 'dropdown-item') %>
            <%= link_to('Sign out', destroy_user_session_path, class: 'dropdown-item', method: :delete) %>
          </div>
        </div>
      <% else %>
        <%= link_to('Sign in', new_user_session_path, class: 'btn btn-outline-primary sign-in')%>
        <%= link_to('Sign up', new_user_registration_path, class: 'btn btn-outline-primary sign-up')%>
      <% end %>
    </div>

    <main role="main" class="flex-shrink-0">
      <%= yield %>
    </main>

    <footer class="footer mt-auto py-3 footer-line">
      <div class="container footer-center">
        <span class="text-muted">BSU diploma 2020</span>
      </div>
    </footer>
  </body>
</html>
